*.aux
*.fdb_latexmk
*.fls
*.log
*.orig
*.out
*.soc
*.up[ab]
/*.pdf
/01-example.tex
/build/
/rebuttal-ctan.curlopt
/rebuttal-ctan.zip
/rebuttal.gl[os]
/rebuttal.hd
/rebuttal.idx
/rebuttal.ilg
/rebuttal.ind
/rebuttal.sty
/rebuttal.toc
