# SPDX-FileCopyrightText: 2026 Sergiu Deitsch
# SPDX-License-Identifier: LPPL-1.3c+

*.aux
*.fdb_latexmk
*.fls
*.log
*.orig
*.out
*.soc
*.up[ab]
/*.pdf
/01-example.tex
/01-scrlttr2.tex
/02-article.tex
/rebuttal.tex
/build/
/rebuttal-ctan.curlopt
/rebuttal-ctan.zip
/rebuttal.gl[os]
/rebuttal.hd
/rebuttal.idx
/rebuttal.ilg
/rebuttal.ind
/rebuttal.sty
/rebuttal.toc
