name: TeXLive

on: [push, pull_request]

jobs:
  build:
    name: TeXLive ${{matrix.texlive}}
    runs-on: ubuntu-latest
    container: texlive/texlive:${{matrix.texlive}}
    strategy:
      fail-fast: true
      matrix:
        texlive:
          - TL2021-historic
          - TL2022-historic
          - latest

    steps:
      - uses: actions/checkout@v4

      - name: Build examples
        run: |
          latexmk -pdf examples/letter

      - uses: actions/upload-artifact@v4
        with:
          name: examples-texlive-${{matrix.texlive}}
          path: '*.pdf'
